!!!
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/screen.css'}
    %title Hotshottt
  %body
    .container
      %p#welcome welcome to
      %h1
        %a{:href => '/'} Hotshottt
      = yield
